.navbar {
    height: 106px;
    width: 1500px;
    background-color: #fe5005;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 530;
    color: white;
    font-family: sans-serif;
    position: fixed;
    z-index: 100;
    top: 0px;
}

.navbar2 {
    height: 344px;
    width: 1500px;
    background-color: #fe5005;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 95px;
}

.navimg1 {
    height: 315px;
    width: 315px;
}

.navp {
    color: white;
}

.navp h2 {
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    left: 100px;
}

.navp p {
    font-family: sans-serif;
    font-size: 18px;
}

.navimg2 {
    height: 315px;
    width: 315px;
    display: flex;
    justify-content: right;
}

.body {
    height: 3000px;
    width: 1500px;
    position: absolute;
    top: 500px;
    border: 2px solid black;
}

.bodynav {
    height: 55px;
    width: 1000px;
    position: relative;
    left: 250px;
    display: flex;
    justify-content: space-evenly;
}

.bodynav div {
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 25px;
    border: gray solid 1px;
}

.bodynav :hover {
    background-color: #fe5005;
    color: white;
}

.bodynav div a {
    text-decoration: none;
    color: #8d8f95;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    top: 15px;
    left: 50px;

}

.mission1 {
    height: 600px;
    width: 1500px;
    display: flex;
    font-family: sans-serif;
}

.mission1 img {
    height: 530px;
    width: 530px;
    position: relative;
    left: 150px;
}

.missionp {
    height: 200px;
    width: 550px;
    position: absolute;
    right: 300px;
    top: 300px;
    font-size: 20px;
    color: #8d8f95;
}
